body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  min-height: 768px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/bg.jpg") no-repeat;
  background-size: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__base-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 71px;
  color: #fff;
  text-align: center;
}

.center-info {
  font-size: 16px;
  color: #fff;
}

.center-info__UpCase-text {
  font-size: 60px;
  font-weight: 800;
}

.header__base-text__scroll-button {
  cursor: pointer;
}