.footer{
   display: flex;

   background-color: #141A20;

   flex-direction: column;
   align-items: center;
}

.footer__header{
   width:915px;

   display: flex;

   justify-content: space-between;

   padding-top:42px;
   padding-bottom: 48px;
}

.footer__name-company{
   width: 100%;
   height: 60px;

   display: flex;

   background-color: #171819;

   justify-content: center;
   align-items: center;

   font-size: 11px;
   line-height: 0.85px;
   color: #fff;
}

.company-block{
   width: 250px;
   height: 148px;

   display: flex;

   flex-direction: column;
   justify-content: space-between;

   color: #fff;
}

.company-block__text-header{
   font-size: 11px;
}

.company-block__logo{
   width: 45%;
}

.company-block__text-shadow{
   font-size: 11px;
   line-height:20px;
   letter-spacing: 0.85px;
}

.links-block{
   width: 262px;

   display: flex;

   justify-content: space-between;
   align-items: center;

   font-size: 11px;
   line-height:20px;
   letter-spacing: 0.85px;
   color: #fff;
}

.pillar-one{
   height: 125px;

   display: flex;

   flex-direction: column;
   justify-content: space-between;
}

.pillar-two{
   height: 75px;

   display: flex;

   flex-direction: column;
   justify-content: space-between;
}

.two-pillar{
   height: 75px;

   display: flex;

   flex-direction: column;
   justify-content: space-between;
}

.pillar-button{
   cursor: pointer;
}

.links-block__text-header{
   margin-bottom: 20px;
}

.contact-us{

   display: flex;

   flex-direction: column;

   line-height:20px;
   letter-spacing: 0.85px;
   font-size: 11px;
   color: #fff;
}

.contact-us__header{
   margin-bottom: 22px;
}

.contact-us__info-text{
   height: 128px;

   display: flex;

   flex-direction: column;
   justify-content: space-between;
}

.footer__social{
   width: 87px;

   display: flex;

   justify-content: space-between;
}

.social__img-logo{
   cursor: pointer;
}