.get-in-touch{
   width: 100%;

   display: flex;
}

.touch-block{
   width: 100%;
   min-height: 499px;

   display: flex;
   flex-direction: column;
   align-items: center;

   background: url('../img/bg\ \(1\).jpg') no-repeat;
   background-size: 100%;

}

.touch-block__text{
   width: 350px;

   font-size: 30px;
   font-weight: 600;
   color: #48555B;
   text-align: center;

   margin-top: 119px;
   margin-bottom: 35px;
}

.touch-block__button{
   width: 150px;
   height: 40px;

   display: flex;

   background-color: #00A4E5;

   align-items: center;
   justify-content: center;

   color: #fff;
   font-size: 13px;
   font-weight: 600;

   cursor: pointer;
}